@layout LoginLayout
@inherits LayoutComponentBase

<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <div class="col-6" style="border-right:groove;">
                <img src="/img/vitaweb-logo.png" width="300px" style="margin: 0; position: relative; top: 40%; transform: translateY(-50%);" />
            </div>
            <div class="col-6" style="border-left:thick">
                @Body
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>