<th>
    <div class="col-12" style="padding: 10px;">
        @if (ColumnTitle != "Actions")
        { 
            <input class="form-control" id="@ColumnTitle" placeholder="@ColumnTitle" @oninput="OnSearchTextChanged" />
        }
    </div>
</th>
@code {

    [Parameter]
    public string ColumnTitle { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnSearchTextChanged { get; set; }
}
